/* Verdana Regular */
@font-face {
    font-family: 'Verdana';
    src: url('https://github.com/ern-dev-it/AWMA-configurator/blob/main/verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Verdana Bold */
@font-face {
    font-family: 'Verdana';
    src: url('https://github.com/ern-dev-it/AWMA-configurator/blob/main/verdanab.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Verdana Italic */
@font-face {
    font-family: 'Verdana';
    src: url('https://github.com/ern-dev-it/AWMA-configurator/blob/main/verdanai.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Verdana Bold Italic */
@font-face {
    font-family: 'VerdanaZ';
    src: url('https://github.com/ern-dev-it/AWMA-configurator/blob/main/verdanaz.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body, div, span, input, select, textarea, label {
    font-family: 'Verdana', sans-serif !important;
}

/* Font size classes */
.verdana-small { font-family: 'Verdana'; font-size: 14px; }
.verdana-medium { font-family: 'Verdana'; font-size: 18px; }
.verdana-large { font-family: 'Verdana'; font-weight: bold; font-size: 24px; }
.verdana-title { font-family: 'Verdana'; font-weight: bold; font-size: 30px; }
.verdana-italic { font-family: 'Verdana'; font-style: italic; font-size: 18px; }
.verdana-spare { font-family: 'Verdana';font-weight: bold;font-style: italic; font-size: 18px; }
.sidebar-container {
    background-color: #f0f0f0; /* Light grey background */
    border: 2px solid #DADA00; /* Green border */
    padding: 15px;
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 20px; /* Space below the container */
}
.custom-divider {
    border-top: 3px solid #0BBBEF; /* Green color and 3px thickness */
    margin-top: 0px;
    margin-bottom: 30px;
}